
<div class="post_content_big" >

  <div class="">


    <div class="user_image" style="background-image: url(<%= tweet.user.image %>);"> -->
    </div>
    <div class="username">
      <a href="/users/<%= tweet.user_id %>">
        @<%= tweet.user.nickname %>
      </a>
    </div>
    <div class="haguruma-arond">

          <% if current_user.id == tweet.user.id%>
      <a class="haguruma-btn" style="font-size: 12px;" ><%= fa_icon 'ellipsis-v 2x' %></a>
      <div class="haguruma">
       <ul>
        <li>
         <%= fa_icon 'info-circle' %><%= link_to "詳細", tweet_path(tweet.id), method: :get %>
       </li>


       <li>
         <%= fa_icon 'pencil-square-o' %><%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %></li>
         <li>
           <%= fa_icon 'trash-o' %><%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %></li>
         </ul>
       </div>


      <% else %>
      <a class="haguruma-btn" style="font-size: 12px;" ><%= fa_icon 'info-circle 2x' %></a>
      <div class="haguruma">
       <ul>
        <li>
         <%= fa_icon 'info-circle' %><%= link_to "詳細", tweet_path(tweet.id), method: :get %>
       </li>
     </ul>
   </div>

      <% end %>



     </div><!-- haguruma-arond -->

     <div class="usertime">

      <%= tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
    </div>

  </div><!--detail-->






  <div class="line clearfix"></div>


  <%= render 'tweets/tag_list', tag_list: tweet.label_list %>




  <div class="text_post_big clearfix">


    <%= truncate(tweet.text, length: 80) do %>
    <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
    <% end %>

  </div>



  <% if tweet.image? %>
  <div class="image_post_big" style="background-image: url(<%= tweet.image %>);"> 
    <%= link_to '　', tweet_path(tweet.id), method: :get %>
  </div>


  <% end %>

       <div class="line2 clearfix"></div>

  <div class="undertable">
    <table>
      <tr>
        <td> <%= link_to 'コメント', tweet_path(tweet.id), method: :get %></td>
        <td> <a ><%= fa_icon 'comments 2x' %><%= comments.length%></a></td>
        <td></td>
        <td> <a class="iine">いいね</a></td>
        <td>  <div id="hoge">
          <%= render partial: "likes/like", locals: { tweet: tweet, like: like} %>
        </div>
      </td>
    </tr>
  </table>
</div><!-- undertable -->




</div>