
<div class="post_content_big" >

  <div class="">

    <div class="user_image" style="background-image: url(<%= tweet.user.image %>);"> -->
    </div>
    <div class="username">
    <a href="/users/<%= tweet.user_id %>">
        @<%= tweet.user.nickname %>
      </a>
    </div>
    <div class="haguruma-arond">
    <a class="haguruma-btn" style="font-size: 12px;" ><%= fa_icon 'ellipsis-v 2x' %></a>


    <div class="haguruma">
     <ul>
      <li>
       <%= fa_icon 'pencil' %><%= link_to "詳細", tweet_path(tweet.id), method: :get %>
     </li>

     <li>
       <%= fa_icon 'pencil' %><%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %></li>
       <li>
         <%= fa_icon 'trash-o' %><%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %></li>

       </ul>
     </div>

  </div><!-- haguruma-arond -->

     <div class="usertime">

      <%= tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
    </div>

  </div><!--detail-->
  <div class="line clearfix"></div>

  <div class="text_post_big clearfix">

<%= truncate(tweet.text, length: 80) do %>
<%= link_to '詳細', tweet_path(tweet.id), method: :get %>
<% end %>
    

  </div>


  <% if tweet.image? %>
  <div class="image_post_big" style="background-image: url(<%= tweet.image %>);"> -->


  </div>

  <% else %>
 

  <% end %>

  <div class="text_post_big">
    コメント数::<%= tweet%>
  </div>


</div>

