
  <div class="post_content_big" >

<div class="">

            <div class="user_image" style="background-image: url(<%= tweet.user.image %>);"> -->
        </div>
       

<a class="haguruma-btn" >s</a>


      <div class="haguruma">
 <ul>
              <li>
               <%= link_to "詳細", tweet_path(tweet.id), method: :get %>
             </li>
             
             <li>
               <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %></li>
               <li>
                 <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %></li>

               </ul>
         </div>

          <div>
          <a href="/users/<%= tweet.user_id %>">
            <%= tweet.user.nickname %>
          </a><br>
              <%= tweet.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
            </div>
        </div><!--detail-->

            <div class="text_post_big">
              <%= tweet.text%>
            </div>


            <% if tweet.image? %>
            <div class="image_post_big" style="background-image: url(<%= tweet.image %>);"> -->


            </div>

            <% else %>
            <div class="image_post_big">

              <%= image_tag tweet.image.url %>
            </div>

            <% end %>

            <div class="text_post_big">
              コメント数::<%= tweet%>
            </div>





        </div>