<div class="contents row">
  <div class="container">
  <%= form_for @tweet  do |f| %>

   <h3>
    投稿する
  </h3>

  <%= f.label "画像" %><br>
  <%= f.file_field :image %>

   <%= f.label :label_list, "タグ" %><br>
    <%= text_field_tag 'tweet[label_list]', @tweet.label_list.join(',') %>

  <%= f.label "テキスト" %><br>
  <%= f.text_area :text %>

  <%= f.submit "SENT" %>

  <% end %>

</div>
</div>