<div class="contents row">
  <div class="container">
  <%= form_for @tweets  do |f| %>

   <h3>
    投稿する
  </h3>

  <%= f.label :Image %><br>
  <%= f.file_field :image %>





<%= text_field_tag "tweet[tag][]", "", placeholder: "Web Design"%>


    <%= f.label :tag_list, "タグ（カンマ区切り）" %><br>
    <%= text_field_tag 'tweet[tag_list]', @tweet.tag_list.join(',') %>



  <%= f.label :Text %><br>
  <%= f.text_area :text %>



  <%= f.submit "SENT" %>


  <% end %>

</div>
</div>