<% if user_signed_in? %>
  <% if tweet.like_user(current_user.id) %>
 <%= button_to tweet_like_path(like, tweet_id: tweet.id), method: :delete, id: "like-button", remote: true do %>

       <a><%= fa_icon 'heart 2x' ,class:'hartred' %></a>

      <span>
        <%= tweet.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to tweet_likes_path(tweet), id: "like-button", remote: true do %>

        <a ><%= fa_icon 'heart-o 2x' %></a>
 
      <span class="likescount">
        <%= tweet.likes_count %>
      </span>
  <% end %>
    <% end %>

<% else %>

    <a  ><%= fa_icon 'heart-o 2x' %></a>

    <span>
      <%= tweet.likes_count %>
    </span>
<% end %>