

<!-- <ul class="nav nav-tabs">
<li class="active"><a href="#menu1" data-toggle="tab">menu 1</a></li>
<li><a href="#menu2" data-toggle="tab">menu 2</a></li>
<li><a href="#menu3" data-toggle="tab">menu 3</a></li>
<li><a href="#menu4" data-toggle="tab">menu 4</a></li>
<li><a href="#menu5" data-toggle="tab">menu 5</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="menu1">111</div>
<div class="tab-pane" id="menu2">222</div>
<div class="tab-pane" id="menu3">333</div>
<div class="tab-pane" id="menu4">444</div>
<div class="tab-pane" id="menu5">555</div>
</div>
-->




<div class="test">
  <p><%= @nickname %>さんのページ </p> 





  <div class="mypage">

    <table id="tab">
      <tbody>
        <tr>
          <td class="select">投稿<%= fa_icon 'pencil' %></td>
          <td>コメント<%= fa_icon 'comments' %></td>
          <td>いいね<%= fa_icon 'heart' %></td>
        </tr>
      </tbody>
    </table>
  </div><!--mypage-->
</div><!--test-->



<div class="contents row">


  <div class="content_wrap"> 
    <div class="mypage_margin">
      <% @tweets.each do |tweet| %>

      <%  @comments = tweet.comments.includes(:user)%>
      <% if user_signed_in? %>
      <%=  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>
      <% end %>

      <%= render partial: "tweets/tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>

      <% end %>
    </div>
  </div>



  <div class="content_wrap disnon">
    <div class="mypage_margin">
      <% @tweets_comments.each do |tweet| %>

      <%  @comments = tweet.comments.includes(:user)%>
      <% if user_signed_in? %>
      <%=  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>
      <% end %>

      <%= render partial: "tweets/tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>

      <% end %>
    </div>
  </div>
  <div class="content_wrap disnon">
    <div class="mypage_margin">
      <% @tweets_likes.each do |tweet| %>

      <%  @comments = tweet.comments.includes(:user)%>
      <% if user_signed_in? %>
      <%=  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>
      <% end %>
      <%= render partial: "tweets/tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>

      <% end %>
    </div>


  </div>










</div>

<%= paginate(@tweets) %>
</div>