
<div class="user_background" style="background-image: url(<%= @user.backimage %>);">

<div class="test">
  <p><%= @nickname %>さんのページ </p> 


  <div class="mypage">

    <table id="tab">
      <tbody>
        <tr>
          <td class="select">投稿<%= fa_icon 'pencil' %></td>
          <td>コメント<%= fa_icon 'comments' %></td>
          <td>いいね<%= fa_icon 'heart' %></td>
        </tr>
      </tbody>
    </table>
  </div><!--mypage-->
</div><!--test-->


<div class="contents row">

  <div class="content_wrap"> 
    <div class="mypage_margin">
      <% @tweets.each do |tweet| %>

      <%  @comments = tweet.comments.includes(:user)%>
      <% if user_signed_in? %>
      <%  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>
      <% end %>

      <%= render partial: "tweets/tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>

      <% end %>
    </div>
  </div>



  <div class="content_wrap disnon">
    <div class="mypage_margin">
      <% @tweets_comments.each do |tweet| %>

      <%  @comments = tweet.comments.includes(:user)%>
      <% if user_signed_in? %>
      <%  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>
      <% end %>

      <%= render partial: "tweets/tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>

      <% end %>
    </div>
  </div>
  <div class="content_wrap disnon">
    <div class="mypage_margin">

      <% @tweets_likes.each do |tweet| %>

      <%  @comments = tweet.comments.includes(:user)%>
      <% if user_signed_in? %>
      <%  @like = Like.find_by(user_id: current_user.id, tweet_id: tweet.id)%>
      <% end %>
      <%= render partial: "tweets/tweet", locals: { tweet: tweet ,comments: @comments ,like: @like } %>

      <% end %>
    </div>


  </div>


</div>

<%= paginate(@tweets) %>
</div>
