<!DOCTYPE html>
<html>
<head>
  <title>Title!!!!!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Unica+One::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <meta name="viewport" content="width=device-width">
</head>

<body>
 <header class="header">

  <h1 class=""><a href="/">Title!!!!!</a></h1>
  <div class="header-in">
    <% if user_signed_in? %>
    <div class="float-right">
      <div class="user_image_s" style="background-image: url(<%= current_user.image %>);">
      </div>
      <a style="background: #fff;color: #111;float: left;text-align: left" class="panel-btn" ><%= current_user.nickname %></a>
      <div class="panel">
        <table>
          <tbody>
            <tr>
              <td>
               <a href="/users/<%= current_user.id %>"><%= fa_icon 'user spin',class:'red' %>マイページ</a>
             </td>

             <td>
               <%= link_to "ユーザー情報", edit_user_path(current_user) %></td>
               <td>
                 <%= link_to "ログアウト", destroy_user_session_path, method: :delete %></td>
               </tr>
             </tbody>
           </table>
         </div>

         <div class="float-r-r">
          <a href="/tweets/new">投稿する</a>
        </div><!--float-r-r-->


        <% if controller.controller_name == "users" && controller.action_name == "show"%>

        <div class="testtest">
         <small>現在のツイート数</small>
       </div>

       <%end%>


       <% else %>

       <div class="login_top1">

        <%= link_to "ログイン", new_user_session_path, :class => 'post' %>
              </div><!--float-r-r-->

       <div class="login_top2">

        <%= link_to "新規登録", new_user_registration_path, :class => 'post' %>

        <% end %>
      </div><!--float-r-r-->


    </div>
  </div>




</header>

<div class="cleafix">
  <%= yield %>
</div><!--cleafix-->

<footer>
  <p>
    Copyright ayakasu 2016.
  </p>
</footer>
</body>
</html>
